{% extends 'base.html' %}

{% block title %}Home - FlaskBlog{% endblock %}

{% block content %}
    <h2>About FlaskBlog</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        Sed interdum, libero non varius vehicula, justo justo aliquam 
        magna, vitae fermentum lectus urna id urna. Vestibulum ante 
        ipsum primis in faucibus orci luctus et ultrices posuere cubilia 
        curae; Aliquam id urna at arcu vestibulum semper. Nulla facilisi.
        Sed non velit vitae risus malesuada viverra. Integer vehicula 
        quam a nibh malesuada volutpat. Cras et leo et risus maximus 
        malesuada. Sed gravida consectetur libero, nec fermentum urna 
        cursus eget. Fusce sed massa nec nisi suscipit iaculis. Fusce 
        volutpat arcu vel leo bibendum, vel fringilla elit accumsan. 
        Donec id pellentesque elit, sed egestas nulla. Duis vel orci 
        lacinia, euismod arcu a, efficitur nisl. In ullamcorper, tortor 
        in pharetra convallis, leo non pellentesque elit orci id in velit.
    </p>
{% endblock %}